* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

.jumbotron {
  margin:0px;
}

.navbar {
  /*height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;*/
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar button{
  margin-left: auto;
}

.nav-item {
  text-align: center;
}
  


/*Introduction Section*/
.graph-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 650px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;  

}
  

@media screen and (max-width: 900px) {
  .graph-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  .graph1-container {
    display: flex;
    justify-content: center;
  }
}
  
  



/*table section*/
.table {
  max-width: 1300px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.table thead{
  background-color: #009879;
  color: #ffffff;
}

@media (max-width: 767px) {
  
  #stats-table { 
    margin-left:4%;
    margin-right: 4%;
 }  
}




/*Mental Health Section*/
.mental-health h2{
  text-align: center; 
  padding-top: 100px; 
  margin-bottom: 100px;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  margin: 0 auto;
  height: 650px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}


.popMH-container img{
  margin-top: 105px;
}


.piechart-container{
  overflow: hidden;
  padding-right: 50px;
}

#pie-chart{
  height:100%;
  width:150%;
}



@media screen and (max-width: 900px) {
  .charts-container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 1400px;
  }

  .popMH-container {
      margin-bottom: 100px;
  }
}

@media screen and (max-width: 750px) {
  .charts-container{
      height: 1200px;
  }
  .popMH-container {
      margin-bottom: 75px;
  }
}




/*tier explaination and government advice section*/
.tier-explaination {
  justify-content: center;
  align-items: center;
  padding-top:150px;
  margin-bottom:125px;
  height: 90%;
  text-align: center;
  }

#accordion{
  margin-left: 75px;
  margin-right: 75px;
}

.card-body {
  text-align: left;
}



@media screen and (max-width: 850px) {
  #accordion{
    margin-left: 25px;
    margin-right: 25px;
  }
}







/*Colour Map and Main Section*/

.main {
  padding: 1rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 650px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}
.main__content {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}


.main__content h1{
  margin-top: 100px;
  font-size: 50px;
}


.mapdiv{
  height: 750px;
  width:100%;
}

.mapdiv path{
  fill:beige;
  stroke:rgb(120, 121, 119);
  stroke-width: 4px;
  transition: fill 0.3s
}


.mapdiv a :hover{
  opacity: 0.6;
  stroke: rgb(70, 150, 219);
  stroke-width: 7px;
}

#tooltip {
  background: rgb(4, 81, 247);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  color: azure;
}  


#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#key-container{
  margin-top: 50px;
}


@media screen and (max-width: 1100px) {

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 55px;
  }

  .main__container {
    height: 650px;
    margin-right: 0px;

  }
}


@media screen and (max-width: 900px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }


  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }


  .mapdiv{
    margin-left: +20%;
    height: 730px;
  }
  
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  .mapdiv{
    margin-top: 0px;
    height: 610px;
  }
}

@media screen and (max-width: 600px) {
  .mapdiv{
    margin-top: 0px;
    height: 450px;
  }
}





/*Areas grid section*/
.areas-container{
  grid-template-rows: 1fr 1fr 1fr;

}

.areas-grid {
  padding-top: 50px;
}

.row-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;  


}

.pair1-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  margin-bottom: 35px;
  margin-right: 5%;
}
.pair1-container h3{
  padding-top: 55px;
}


.pair2-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-bottom: 35px;
  margin-left: 5%px;

}
.pair2-container h3{
  padding-top: 55px;
}


@media screen and (max-width: 900px) {
  .row-container{
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }  
}
